<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/convert.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Jinja live parser</title>
</head>

<body>
    <form class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Available Functions</h1>
                <h3>mouse-over for doc-string</h3>
                <table>
                  {% include 'functions.html' %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="display:inline-block">Values (JSON)</h1>
                <div style="display:inline-block" id="settings">
                    <input type="button" class="btn btn-success convert" value="Convert" />
                </div>
                <div class="control-group has-error">
                    <b><span id="values-error" class="help-block"></span></b>
                </div>
                <textarea id="values">{% include 'example_values.html' %}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="display:inline-block">Template</h1>
                <div style="display:inline-block" id="settings">
                    <input type="button" class="btn btn-success convert" value="Convert" />
                </div>
                <div class="control-group has-error">
                    <b><span id="template-error" class="help-block"></span></b>
                </div>
                <textarea id="template">{% include 'example_template.html' %}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 style="display:inline-block">Render</h1>
                <div style="display:inline-block" id="settings">
                    <input type="button" class="btn btn-success convert" value="Convert" />
                </div>
                <textarea id="render"></textarea>
            </div>
        </div>
    </form>
</body>

</html>
